body{
background-color: whitesmoke;

}

.text-input{
    width: 300px;
    height: 555px;
  }

  .center.eggs{
     
        display: block;
        margin-left: auto;
        margin-right: 121564px;
  }
  